@font-face {
  font-family: 'tficonfont';
  src: url('/static/iconfont/iconfont.ttf') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.tf-icon {
  font-family: 'tficonfont' !important;
  font-size: 24rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tf-icon-dianhua1:before {
  content: "\e673";
}

.tf-icon-renwushenhe:before {
  content: "\e66b";
}

.tf-icon-renwushixiao:before {
  content: "\e66e";
}

.tf-icon-renwutousu:before {
  content: "\e66f";
}

.tf-icon-yijiaofu:before {
  content: "\e670";
}

.tf-icon-renwuchaoshi:before {
  content: "\e671";
}

.tf-icon-renwufabu:before {
  content: "\e672";
}

.tf-icon-ziyuan2:before {
  content: "\e664";
}

.tf-icon-dizhi:before {
  content: "\e65f";
}

.tf-icon-pingjia:before {
  content: "\e663";
}

.tf-icon-didian:before {
  content: "\e669";
}

.tf-icon-lianxi:before {
  content: "\e660";
}

.tf-icon-xiaoxi1:before {
  content: "\e666";
}

.tf-icon-tiwen:before {
  content: "\e668";
}

.tf-icon-fenxiang:before {
  content: "\e661";
}

.tf-icon-fenxiang2:before {
  content: "\e662";
}

.tf-icon-pinglun1:before {
  content: "\e665";
}

.tf-icon-dianzan1:before {
  content: "\e66a";
}

.tf-icon-gengduo1:before {
  content: "\e66c";
}

.tf-icon-tupian1:before {
  content: "\e66d";
}

.tf-icon-yiwancheng:before {
  content: "\e65e";
}

.tf-icon-xingfubi1:before {
  content: "\e65d";
}

.tf-icon-lifepaymessage:before {
  content: "\e600";
}

.tf-icon-renwutiwen:before {
  content: "\e604";
}

.tf-icon-renwuzanting:before {
  content: "\e605";
}

.tf-icon-renwuqun:before {
  content: "\e606";
}

.tf-icon-yitaotai:before {
  content: "\e607";
}

.tf-icon-weiwancheng:before {
  content: "\e608";
}

.tf-icon-yijiedan:before {
  content: "\e609";
}

.tf-icon-renwuyanqi:before {
  content: "\e61b";
}

.tf-icon-renwupingjia:before {
  content: "\e65a";
}

.tf-icon-yizhongzhi:before {
  content: "\e65b";
}

.tf-icon-yifangqi:before {
  content: "\e65c";
}

.tf-icon-shangcheng:before {
  content: "\e60b";
}

.tf-icon-guanjia:before {
  content: "\e60c";
}

.tf-icon-linli:before {
  content: "\e60d";
}

.tf-icon-wode:before {
  content: "\e60e";
}

.tf-icon-shouye:before {
  content: "\e610";
}

.tf-icon-bianxie:before {
  content: "\e612";
}

.tf-icon-dingwei:before {
  content: "\e613";
}

.tf-icon-shezhi:before {
  content: "\e614";
}

.tf-icon-lishijilu:before {
  content: "\e615";
}

.tf-icon-tongxunlu:before {
  content: "\e616";
}

.tf-icon-saoyisao:before {
  content: "\e617";
}

.tf-icon-erweima:before {
  content: "\e618";
}

.tf-icon-zhushishuoming:before {
  content: "\e619";
}

.tf-icon-xiaoxi:before {
  content: "\e61a";
}

.tf-icon-bianji:before {
  content: "\e61c";
}

.tf-icon-fabu:before {
  content: "\e61e";
}

.tf-icon-dingwei1:before {
  content: "\e61f";
}

.tf-icon-fenlei:before {
  content: "\e620";
}

.tf-icon-guanbi:before {
  content: "\e622";
}

.tf-icon-sousuo:before {
  content: "\e624";
}

.tf-icon-zhuanfa:before {
  content: "\e627";
}

.tf-icon-tupian:before {
  content: "\e628";
}

.tf-icon-xiangmuwancheng:before {
  content: "\e629";
}

.tf-icon-pingfenwancheng:before {
  content: "\e62a";
}

.tf-icon-kefu:before {
  content: "\e61d";
}

.tf-icon-gouwuche:before {
  content: "\e621";
}

.tf-icon-pinglun:before {
  content: "\e623";
}

.tf-icon-gengduo:before {
  content: "\e625";
}

.tf-icon-zan:before {
  content: "\e626";
}

.tf-icon-dianzan:before {
  content: "\e62b";
}

.tf-icon-biaoyang:before {
  content: "\e62c";
}

.tf-icon-tousu:before {
  content: "\e62d";
}

.tf-icon-sousuo1:before {
  content: "\e62e";
}

.tf-icon-shanchu:before {
  content: "\e62f";
}

.tf-icon-gonggao:before {
  content: "\e630";
}

.tf-icon-shijian:before {
  content: "\e631";
}

.tf-icon-bukejian:before {
  content: "\e632";
}

.tf-icon-kejian:before {
  content: "\e633";
}

.tf-icon-gou:before {
  content: "\e634";
}

.tf-icon-guanbi1:before {
  content: "\e635";
}

.tf-icon-baojia:before {
  content: "\e636";
}

.tf-icon-baozhang:before {
  content: "\e637";
}

.tf-icon-buji:before {
  content: "\e638";
}

.tf-icon-daichuli:before {
  content: "\e639";
}

.tf-icon-daijiean:before {
  content: "\e63a";
}

.tf-icon-daifenpai:before {
  content: "\e63b";
}

.tf-icon-yijiean:before {
  content: "\e63c";
}

.tf-icon-huodongkaishi:before {
  content: "\e63d";
}

.tf-icon-huodongbaoming:before {
  content: "\e63e";
}

.tf-icon-biaoyangtousu:before {
  content: "\e63f";
}

.tf-icon-baoshibaoxiu:before {
  content: "\e640";
}

.tf-icon-gonggao1:before {
  content: "\e641";
}

.tf-icon-guihuan:before {
  content: "\e642";
}

.tf-icon-dianhua:before {
  content: "\e643";
}

.tf-icon-pingfen:before {
  content: "\e644";
}

.tf-icon-gouxuan:before {
  content: "\e645";
}

.tf-icon-renshu:before {
  content: "\e646";
}

.tf-icon-kaisuo:before {
  content: "\e647";
}

.tf-icon-daifenpai1:before {
  content: "\e648";
}

.tf-icon-daichuli1:before {
  content: "\e649";
}

.tf-icon-yijiean1:before {
  content: "\e64a";
}

.tf-icon-daijiean1:before {
  content: "\e64b";
}

.tf-icon-right:before {
  content: "\e856";
}

.tf-icon-left:before {
  content: "\e857";
}

.tf-icon-up:before {
  content: "\e858";
}

.tf-icon-down:before {
  content: "\e859";
}

.tf-icon-doubleleft:before {
  content: "\e85c";
}

.tf-icon-doubleright:before {
  content: "\e85d";
}

.tf-icon-caret-down:before {
  content: "\e999";
}

.tf-icon-caret-up:before {
  content: "\e99b";
}

.tf-icon-caret-right:before {
  content: "\e99c";
}

.tf-icon-caret-left:before {
  content: "\e99d";
}

.tf-icon-close-circle-fill:before {
  content: "\e89d";
}

.tf-icon-plus-circle-fill:before {
  content: "\e8a1";
}

.tf-icon-xingfubi:before {
  content: "\e64c";
}

.tf-icon-dianfei:before {
  content: "\e64d";
}

.tf-icon-gongtanfei:before {
  content: "\e64e";
}

.tf-icon-shuifei:before {
  content: "\e64f";
}

.tf-icon-ranqifei:before {
  content: "\e650";
}

.tf-icon-shuibiao:before {
  content: "\e651";
}

.tf-icon-dianbiao:before {
  content: "\e652";
}

.tf-icon-shengjiangpaixu:before {
  content: "\e653";
}

.tf-icon-qitajiaofei:before {
  content: "\e654";
}

.tf-icon-xiangji:before {
  content: "\e655";
}

.tf-icon-shuoming:before {
  content: "\e656";
}

.tf-icon-xingbie:before {
  content: "\e60f";
}

.tf-icon-xingbie1:before {
  content: "\e611";
}

.tf-icon-yishiming:before {
  content: "\e667";
}

.tf-icon-weishiming:before {
  content: "\e657";
}

.tf-icon-shoucang:before {
  content: "\e658";
}

.tf-icon-yishoucang:before {
  content: "\e659";
}


